.createNewStudent {
  margin-left: auto;
}

.newStudent-modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 50px;
  /* margin-bottom: 50px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.newStudent-modal__wrapper {
  position: relative;

  background-color: blue;
  margin: 20px auto;
  padding: 20px;
  z-index: 1000;
  width: 40%;
  margin: auto;
  border-radius: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.create-input {
  width: 200px;
  padding: 10px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  font-family: "Arial", serif;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 2px solid black;
  margin: 10px;
}

.newStudent_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.create-btn {
  width: 170px;
  padding: 12px 55px;
  background-color: #4985d5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 20px auto;
}

.newStudent-modal__wrapper__heading {
  font-size: 20px;
  font-family: "Arial", serif;
  text-align: center;
}

.close-btn-div {
  position: absolute;
  right: 0;
  padding: 20px;
  cursor: pointer;
  top: 0;
}

.create--active {
  display: block;
}

.students__wrapper {
  display: flex;
  flex-direction: column;
}

.find__wrapper {
  display: flex;
  flex-direction: column;
}

.find-btn {
  margin-right: auto;
  margin-left: 0;
}

.findStudentId {
  width: 200px;
  padding: 10px;
  font-size: 17px;
  font-family: "Arial", serif;
  border-bottom: 2px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}

.about__heading {
  text-align: left;
  font-family: "Arial", serif;
  font-size: 25px;
}

.about__heading2 {
  text-align: left;
  font-family: "Arial", serif;
  font-size: 20px;
}

.student-delete-btn {
  margin-left: 5px;
}
